@import url(https://fonts.googleapis.com/css?family=Karla:400);

body{
  background: #f8f8f8;
  font-family:Karla, sans-serif;
}

.wrapper{
	width:350px;
	height:310px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-200px 0 0 -125px;
  text-align:center;
}


.dtmf-interface{
  width:350px;
  margin:0;
  padding:0;
  overflow:hidden;
}

.dtmf-interface li{
  float:left;
  margin:10px;
  list-style:none;
  width:60px;
  height:30px;
  text-align:center;
  line-height:30px;
  font-size: 14px;
  border: solid 1px #333;
  border-radius:3px;
  padding:5px;
  transition: all 0.5s;
}

.dtmf-interface li:hover{
  color: #3cd9fd;
  border-color:#3cd9fd;
  transition-duration:0s;
  cursor:pointer;
}

.dtmf-interface li:active{
  color: #f60;
  border-color:#f60;
  transition-duration:0s;
}