@import url(https://fonts.googleapis.com/css?family=Karla:400);

body{
  background: #f8f8f8;
  font-family:Arial, sans-serif;
  font-size: 12px;
}

.wrapper{
	width:480px;
	height:380px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-240px 0 0 -240px;
  text-align:center;
}


.dtmf-interface{
  width:480px;
  margin:0;
  padding:0;
  overflow:hidden;
}

.dtmf-interface li{
  float:left;
  margin:2px;
  list-style:none;
  width:128px;
  height:30px;
  text-align:center;
  line-height:30px;
  border: solid 1px #333;
  border-radius:3px;
  padding:5px;
  transition: all 0.5s;
}

.dtmf-interface li:hover{
  background-color: green;
  transition-duration:0s;
  cursor:pointer;
}

.dtmf-interface li:active{
  background-color: red;
  transition-duration:0s;
}

.information {
  text-align: left;
}

.information ol {
  padding-left: 16px;
}